.HomeLayout {

  &__content {
    font-size: var(--body-copy-size);
    color: var(--gray-500);
  }

  &__intro {
    padding: .75rem 0;
    font-size: var(--body-copy-size);
    margin-bottom: 3rem;
  }

}
