.Figure {
  &.invertable {

  }

  &__img {

  }
  &__caption {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    color: var(--gray-900);
  }
  &__title {
    font-weight: var(--font-weight-bold);
  }
}
