.FooterTags {


  &__list {
    list-style: none outside none;
  }

  &__item {
    display: inline-block;
    margin-left: .25rem;
    margin-top: .5rem;
  }

  &__link {
    color: var(--link-color);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
